 .banner img{
    width: 100%;
    height: 250px;
}
body{
    background-color: blue;
}
.banner2 img{
width: 200px;
height: 200px;
}
.text {
    background-color: coral;
    font-size: 20px;
   
}
.tabela{


}
.titulo p{
    font-size: 40px;
    font-family: 'Courier New';
    background-color:red
}
.final{
    font-size: 30px;
}
 
.bio{
    font-size: 20px;
}
